*********************************************************
*                                                       *
* DRILL TAPE SUMMARY REPORT                             *
*                                                       *
* C:\MYWORKS\HOMELIGHTING\02_HW\HOMELIGHTING_FINAL.MAX  *
* Sat Jan 16 02:48:34 2016                              *
*                                                       *
*********************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       24       64       200      100                                                                                 
T2       34       36       200      100                                                                                 
T3       36       32       200      100                                                                                 
T4       40       10       200      100                                                                                 
T5       54       15       200      100                                                                                 
T6       64       64       200      100                                                                                 
T7       100      4        200      100                                                                                 
